<div class='main'>
    <mat-grid-list cols='1' width='50%' gutterSize='16px' class="grid">
        <mat-card>
            <form (ngSubmit)='submitForm(form)' #form='ngForm'>
                <h2>Login</h2>
                <mat-form-field>
                    <input [ngModel]='username' name="username" required class='username' type="text" matInput placeholder="username">
                </mat-form-field>
                <mat-form-field>
                    <input [ngModel]='password' name="pasword" required class='password' type="password" matInput placeholder="password">
                </mat-form-field>
                <button color='primary' mat-raised-button>Submit</button>
            </form>
        </mat-card>
    </mat-grid-list>
</div>