<div class='main'>
    <h3>Dashboard</h3>
    <div class="grid">
        <mat-card (click)='openDialog()'>Atlanta</mat-card>
        <mat-card>Beijing</mat-card>
        <mat-card>Dubai</mat-card>
        <mat-card>Los Angeles</mat-card>
        <mat-card>Tokyo</mat-card>
        <mat-card>Chicago</mat-card>
        <mat-card>London</mat-card>
        <mat-card>Hong Kong</mat-card>
        <mat-card>Shangai</mat-card>
        <mat-card>Paris</mat-card>
    </div>
</div>

<!-- <app-flight-details #component></app-flight-details> -->
